body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  text-align: center;
}

#navbar {
  display: flex;
  justify-content: center;
  padding: 10px;
  background-color: #333;
}

#navbar button {
  padding: 10px 20px;
  margin: 0 10px;
  border: none;
  border-radius: 5px;
  background-color: #444;
  color: white;
  cursor: pointer;
}

#navbar button:hover {
  background-color: #555;
}

.App {
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 80%;
  margin: auto;
}

h1 {
  color: #333;
}

h2 {
  color: #666;
  margin-bottom: 10px;
}

.loomian-container {
  display: flex;
  align-items: center;
  margin: 20px 50px 20px 50px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.main-team {
  border: 2px solid #007bff; /* Blue border for main team */
}

.benched-loomian {
  border: 2px solid #ff9800; /* Orange border for benched loomians */
}

.loomian {
  display: flex;
  align-items: center;
}

.loomian div {
  margin: 0 10px;
}

select {
  padding: 10px;
  margin: 0 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  padding: 10px 20px;
  margin: 20px;
  border: none;
  border-radius: 5px;
  background-color: #333;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #555;
}

.results {
  display: flex;
  flex-direction: column;
  align-items: center; 
  margin-left: 50px;
  margin-top: 10px;
  width:60%;
}

.result {
  font-size: 18px;
  margin-bottom: 10px;
}

.team-effects {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.team-weaknesses,
.team-resistances,
.unresisted-types {
  text-align: center;
}

.watermark {
  position: fixed;
  bottom: 10px;
  left: 10px;
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px;
  border-radius: 5px;
  z-index: 1000;
}

.watermark a {
  margin-right: 5px;
}

.youtube-icon {
  width: 20px;
  height: 20px;
}

.watermark span {
  color: white;
  font-size: 14px;
}
