body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  text-align: center;
}

#navbar {
  display: flex;
  justify-content: center;
  padding: 10px;
  background-color: #333;
}

#navbar button {
  padding: 10px 20px;
  margin: 0 10px;
  border: none;
  border-radius: 5px;
  background-color: #444;
  color: white;
  cursor: pointer;
}

#navbar button:hover {
  background-color: #555;
}

.App {
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 80%;
  margin: auto;
}

h1 {
  color: #333;
}

h2 {
  color: #666;
  margin-bottom: 10px;
}

.loomian-container {
  display: flex;
  align-items: center;
  margin: 20px 50px 20px 50px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.main-team {
  border: 2px solid #007bff; 
}

.benched-loomian {
  border: 2px solid #ff9800; 
}

.loomian {
  display: flex;
  align-items: center;
}

.loomian div {
  margin: 0 10px;
}

select {
  padding: 10px;
  margin: 0 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  padding: 10px 20px;
  margin: 20px;
  border: none;
  border-radius: 5px;
  background-color: #333;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #555;
}

.results {
  display: flex;
  flex-direction: column;
  align-items: center; 
  margin-left: 50px;
  margin-top: 10px;
  width:60%;
}

.result {
  font-size: 18px;
  margin-bottom: 10px;
}

.team-effects {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.team-weaknesses,
.team-resistances,
.unresisted-types {
  text-align: center;
}

.watermark {
  position: fixed;
  bottom: 10px;
  left: 10px;
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px;
  border-radius: 5px;
  z-index: 1000;
}

.watermark a {
  margin-right: 5px;
}

.youtube-icon {
  width: 20px;
  height: 20px;
}

.watermark span {
  color: white;
  font-size: 14px;
}

.coverage-results {
  display: flex;
  justify-content: space-around;
}

.coverage-category {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  margin: 5px;
}

@media (max-width: 916px) {
  .App {
    zoom: 75%;
  }
}

@media (max-width: 704px) {
  .App {
    zoom: 50%;
  }
}

.move-selector {
  margin: 10px;
}

.error {
  color: red;
  font-weight: bold;
}

.search-results {
  margin: 20px;
}

.move-selector {
  margin: 10px;
}

.move-selector input {
  width: 200px;
  padding: 5px;
}

.checkbox-container {
  display: center;
  align-items: center;
  margin-top: 10px;
}

.checkbox-input {
  margin-right: 10px;
}

.checkbox-label {
  font-size: 16px;
}

.loomian-editor {
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.loomian-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.type-badges {
  display: flex;
  gap: 5px;
}

.type-badge {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 15px;
  background-color: #e0e0e0;
  font-size: 14px;
}

button {
  margin: 5px;
}

.loomian-container {
  border: 2px solid #007bff;
  margin-bottom: 20px;
  padding: 10px;
}

.loomian-container img {
  width: 70px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.saved-team {
  border: 1px solid gray;
  padding: 10px;
  margin: 10px 0;
  background-color: #f9f9f9;
  position: relative;
}

.delete-button {
  position: absolute;
  right: 10px;
  top: 10px;
  background: none;
  border: none;
  font-size: 1.2em;
  cursor: pointer;
}

.confirmation-dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.error {
  color: red;
  font-weight: bold;
}

.message {
  color: green;
  font-weight: bold;
}

.loomian-icons img {
  width: 70px;
  height: 50px;
  margin-right: 5px;
}

/* loomian editor */

.loomian-editor {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 800px;
  padding: 20px;
  box-sizing: border-box;
}

.loomian-editor .input-group {
  display: flex;
  align-items: center;
  gap: 15px;
  width: 100%;
}

.loomian-editor .input-group label {
  width: 150px;
}

.loomian-editor input[type="text"], .loomian-editor select {
  width: 100%;
}

.loomian-editor .stats-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.loomian-editor .tp-up-labels {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.loomian-editor .label {
  width: 230px; 
  text-align: center;
  font-weight: bold;
  padding-left: 55px; 
}

/* Loomian Editor */
.loomian-editor .stat-item {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.loomian-editor .stat-item span {
  width: 120px;
  display: inline-block;
}

.loomian-editor .tp-slider {
  flex: 1; 
  max-width: 340px; 
  margin-right: 10px; 
}

.loomian-editor .tp-number, .loomian-editor .up-number {
  width: 80px; 
  text-align: center; 
}

.loomian-editor input[type="number"] {
  width: 80px; 
}


.loomian-editor .tp-number {
  margin-right: 10px;
}

.loomian-editor .tp-slider {
  margin-right: 10px;
}

.loomian-container-teambuild {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
  margin-bottom: 20px;
}

.teambuilder-editor {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; 
}

.teambuilder-editor .loomian-header,
.teambuilder-editor .loomian-builder {
  width: 100%;
  max-width: 800px; 
}

.teambuilder-editor .loomian-header {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f9f9f9;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.teambuilder-editor .loomian-builder {
  position: relative;
  z-index: 1;
  margin-top: -10px; 
  width: 100%; 
}

.secret-ability-icon {
  width: 30px;
  height: 30px;
  display: inline-block;
  margin-left: 10px;
}

.gender-icon {
  display: inline-block;
  width: 30px;
  height: 24px; 
  border-radius: 50%;
  line-height: 24px; 
  text-align: center;
  color: white; 
  font-size: 16px; 
}

.gender-icon.male {
  background-color: blue;
}

.gender-icon.female {
  background-color: rgb(255, 0, 255);
}

.gender-icon.ungendered {
  background-color: green;
}
